
	header {
		text-align: left;
		font-family: Helvetica;
		font-size: 36;
	}

	body {
		margin: 0;
		background-color:  #ededed;
		color: black;
	}

	img {
		margin: 0px 23px 15px 20px;
		padding-left: 2%;
		width: 30%;
		height: 30%;
		float: left;
	}

	#personal {
		width: 92%;
		height: 92%;
		padding-left: 30px;
		padding-right: 60px;
	}
	#personal.description {
		width: 20%;
		float:right;
		margin-left: 5px;
	}

	#welcome {
		font-family: Helvetica;
		padding-right: 33%;
		float: right;
	}

	#resume_title {
		text-align: center;
		font-family: Helvetica;
		font-size: 36;
	}
	#resume {
		padding-left: 3%;
		padding-right: 3%;
	}

	#musicpage {
                	overflow: auto;
                	border: 0; position:fixed; top:7%; left:0; right:0%; bottom:0%;
            	}

	#NavBar ul {
		position: fixed;
		margin: 0;
    		padding: 0;
    		top: 0;
    		width: 100%;
		position: fixed;
		list-style-type: none;
    		overflow: auto;
    		background-color: #333;
	}

	#NavBar li {
    		float: left;
    		border-right: 1px solid #bbb;
	}

	#NavBar li a {
    		display: block;
   	 	color: white;
    		text-align: center;
    		padding: 14px 16px;
    		text-decoration: none;
	}

	#NavBar li a:hover {
   	 	background-color: #111;
	}

	#NavBar li:last-child {
    		border-right: none;
	}

	.active {
    		background-color: #e01414;
	}
